# Data Cleaning

There are numerous approaches of how to deal with daily tasks of cleaning data.

For example (listing starts from most confusing way):

* pandas way
* slightly more advanced users might take advantage of the functional API
* via pyjanitor package (inspired by the ease-of-use and expressiveness of the dplyr package of the R statistical language ecosystem)

I always take the easy way out so we will focus on a consistent and expressive approach
utilizing `pyjanitor`.

So lets define it... `pyjanitor` is a Python implementation of the R package janitor, 
and provides a clean API for cleaning data.

Interestingly we import pyjanitor as janitor for a reason.

Afterwards we will inspect other methods two ways of doing things.

I prefer having one way of doing common tasks rather then having a myriad of them which reduces fluency and introduces clutter.

We are here to solve problems :)

## Readable and understandable code - chaining

I will always try to avoid the following two ways of writing code:

** 1) MUTLIPLE OBJECT OPTION**

eat(

    slice(

        bake(
            
            put(
                pour(

                    mix(ingredients),

                    into=baking_form),

                    into=oven),

                time=30),
                
            pieces=6),
        1)

This first option is considered a “nested” option such that functions are nested 
within one another. Historically, this has been the traditional way of
integrating code; however, it becomes extremely difficult to read what 
exactly the code is doing and it also becomes easier to make mistakes when 
making updates to your code. Although not in violation of the DRY principle1, 
it definitely violates the basic principle of readability and clarity, 
which makes communication of your analysis more difficult. To make things
more readable, people often move to the following approach…

** 2) NESTED OPTION**


    it = mix(ingredients)

    it = pour(it, into=baking_form)

    it = put(it, into=oven)

    it = bake(it, time=30)

    it = slice(it, pieces=6)

    it = eat(it, 1)

This second option helps in making the data wrangling steps more explicit 
and obvious but definitely violates the DRY principle. By sequencing 
multiple functions in this way you are likely saving multiple outputs 
that are not very informative to you or others; rather, the only reason 
you save them is to insert them into the next function to eventually get the
final output you desire. This inevitably creates unnecessary copies and wrecks 
havoc on properly managing your objects…basically it results in a global 
environment charlie foxtrot! 

**I WILL INSIST ON METHODS CHAINING (if and when python and pandas allows you)**

To provide the same readability (or even better), we can use chaining of methods to string 
these arguments together without unnecessary object creation…

The point of the chain is to help you write code in a way that is easier to read and understand. 
It is powerful tool for clearly expressing a sequence of multiple operations. 

    (ingredients

        .mix()

        .pour(into=baking_form)

        .put(into=oven)

        .bake(time=30)

        .slice(pieces=6)
    
        .ear(1)
    )

## Tabular Dataset - NPD well data

In [51]:
import pandas as pd
import numpy as np
#pd.set_option('display.max_columns', None)  
import janitor

In [52]:
df = pd.read_csv("https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_exploration_all&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=CSV&Top100=false&IpAddress=82.102.27.246&CultureCode=en")

In [53]:
df.head()

,wlbWellboreName,wlbWell,wlbDrillingOperator,wlbProductionLicence,wlbPurpose,wlbStatus,wlbContent,wlbWellType,wlbSubSea,wlbEntryDate,...,wlbNpdidWellbore,dscNpdidDiscovery,fldNpdidField,fclNpdidFacilityDrilling,wlbNpdidWellboreReclass,prlNpdidProductionLicence,wlbNpdidSiteSurvey,wlbDateUpdated,wlbDateUpdatedMax,datesyncNPD
0,1/2-1,1/2-1,Phillips Petroleum Norsk AS,143,WILDCAT,P&A,OIL,EXPLORATION,NO,20.03.1989,...,1382,43814.0,3437650.0,296245.0,0,21956.0,NaN,03.10.2019,03.10.2019,19.11.2019
1,1/2-2,1/2-2,Paladin Resources Norge AS,143 CS,WILDCAT,P&A,OIL SHOWS,EXPLORATION,NO,14.12.2005,...,5192,NaN,NaN,278245.0,0,2424919.0,NaN,03.10.2019,03.10.2019,19.11.2019
2,1/3-1,1/3-1,A/S Norske Shell,011,WILDCAT,P&A,GAS,EXPLORATION,NO,06.07.1968,...,154,43820.0,NaN,288604.0,0,20844.0,NaN,03.10.2019,03.10.2019,19.11.2019
3,1/3-2,1/3-2,A/S Norske Shell,011,WILDCAT,P&A,DRY,EXPLORATION,NO,14.05.1969,...,165,NaN,NaN,288847.0,0,20844.0,NaN,03.10.2019,03.10.2019,19.11.2019
4,1/3-3,1/3-3,Elf Petroleum Norge AS,065,WILDCAT,P&A,OIL,EXPLORATION,NO,22.08.1982,...,87,43826.0,1028599.0,288334.0,0,21316.0,NaN,03.10.2019,03.10.2019,19.11.2019

## Cleaning the dataframe

Lets list our columns names:

In [54]:
df.columns

Index(['wlbWellboreName', 'wlbWell', 'wlbDrillingOperator',
       'wlbProductionLicence', 'wlbPurpose', 'wlbStatus', 'wlbContent',
       'wlbWellType', 'wlbSubSea', 'wlbEntryDate', 'wlbCompletionDate',
       'wlbField', 'wlbDrillPermit', 'wlbDiscovery', 'wlbDiscoveryWellbore',
       'wlbBottomHoleTemperature', 'wlbSiteSurvey', 'wlbSeismicLocation',
       'wlbMaxInclation', 'wlbKellyBushElevation', 'wlbFinalVerticalDepth',
       'wlbTotalDepth', 'wlbWaterDepth', 'wlbKickOffPoint', 'wlbAgeAtTd',
       'wlbFormationAtTd', 'wlbMainArea', 'wlbDrillingFacility',
       'wlbFacilityTypeDrilling', 'wlbDrillingFacilityFixedOrMoveable',
       'wlbLicensingActivity', 'wlbMultilateral', 'wlbPurposePlanned',
       'wlbEntryYear', 'wlbCompletionYear', 'wlbReclassFromWellbore',
       'wlbReentryExplorationActivity', 'wlbPlotSymbol', 'wlbFormationWithHc1',
       'wlbAgeWithHc1', 'wlbFormationWithHc2', 'wlbAgeWithHc2',
       'wlbFormationWithHc3', 'wlbAgeWithHc3', 'wlbDrillingDays', 'wlbReentry',
       'wlbLicenceTargetName', 'wlbPluggedAbandonDate', 'wlbPluggedDate',
       'wlbGeodeticDatum', 'wlbNsDeg', 'wlbNsMin', 'wlbNsSec', 'wlbNsCode',
       'wlbEwDeg', 'wlbEwMin', 'wlbEwSec', 'wlbEwCode', 'wlbNsDecDeg',
       'wlbEwDesDeg', 'wlbNsUtm', 'wlbEwUtm', 'wlbUtmZone', 'wlbNamePart1',
       'wlbNamePart2', 'wlbNamePart3', 'wlbNamePart4', 'wlbNamePart5',
       'wlbNamePart6', 'wlbPressReleaseUrl', 'wlbFactPageUrl', 'wlbFactMapUrl',
       'wlbDiskosWellboreType', 'wlbDiskosWellboreParent', 'wlbWdssQcDate',
       'wlbReleasedDate', 'wlbDateReclass', 'wlbNpdidWellbore',
       'dscNpdidDiscovery', 'fldNpdidField', 'fclNpdidFacilityDrilling',
       'wlbNpdidWellboreReclass', 'prlNpdidProductionLicence',
       'wlbNpdidSiteSurvey', 'wlbDateUpdated', 'wlbDateUpdatedMax',
       'datesyncNPD'],
      dtype='object')

### str_replace - replace something with something

We need to clean our column names so we make are subsequent workflows on dataframes
as easy as it can get.

**It is important that we wrap our chains of methods into parantheses** (why?) 
The second approach would be to end each line with a backslash. I find the first
approach more elegant so I will use it.

Remove wlb, fld, fcl prefixes.

In [55]:
df.columns = (
    df.columns
        .str.replace("wlb", "")
        .str.replace("fld", "")
        .str.replace("fcl", "")
)

In [56]:
df.columns

Index(['WellboreName', 'Well', 'DrillingOperator', 'ProductionLicence',
       'Purpose', 'Status', 'Content', 'WellType', 'SubSea', 'EntryDate',
       'CompletionDate', 'Field', 'DrillPermit', 'Discovery',
       'DiscoveryWellbore', 'BottomHoleTemperature', 'SiteSurvey',
       'SeismicLocation', 'MaxInclation', 'KellyBushElevation',
       'FinalVerticalDepth', 'TotalDepth', 'WaterDepth', 'KickOffPoint',
       'AgeAtTd', 'FormationAtTd', 'MainArea', 'DrillingFacility',
       'FacilityTypeDrilling', 'DrillingFacilityFixedOrMoveable',
       'LicensingActivity', 'Multilateral', 'PurposePlanned', 'EntryYear',
       'CompletionYear', 'ReclassFromWellbore', 'ReentryExplorationActivity',
       'PlotSymbol', 'FormationWithHc1', 'AgeWithHc1', 'FormationWithHc2',
       'AgeWithHc2', 'FormationWithHc3', 'AgeWithHc3', 'DrillingDays',
       'Reentry', 'LicenceTargetName', 'PluggedAbandonDate', 'PluggedDate',
       'GeodeticDatum', 'NsDeg', 'NsMin', 'NsSec', 'NsCode', 'EwDeg', 'EwMin',
       'EwSec', 'EwCode', 'NsDecDeg', 'EwDesDeg', 'NsUtm', 'EwUtm', 'UtmZone',
       'NamePart1', 'NamePart2', 'NamePart3', 'NamePart4', 'NamePart5',
       'NamePart6', 'PressReleaseUrl', 'FactPageUrl', 'FactMapUrl',
       'DiskosWellboreType', 'DiskosWellboreParent', 'WdssQcDate',
       'ReleasedDate', 'DateReclass', 'NpdidWellbore', 'dscNpdidDiscovery',
       'NpdidField', 'NpdidFacilityDrilling', 'NpdidWellboreReclass',
       'prlNpdidProductionLicence', 'NpdidSiteSurvey', 'DateUpdated',
       'DateUpdatedMax', 'datesyncNPD'],
      dtype='object')

### clean_names (janitor module) - unification of column names

Space out words by placing a snake between the words so it is nicer to look at the column names

In [57]:
df = (
    df.clean_names(case_type="snake")
)

In [58]:
df.columns

Index(['wellbore_name', 'well', 'drilling_operator', 'production_licence',
       'purpose', 'status', 'content', 'well_type', 'sub_sea', 'entry_date',
       'completion_date', 'field', 'drill_permit', 'discovery',
       'discovery_wellbore', 'bottom_hole_temperature', 'site_survey',
       'seismic_location', 'max_inclation', 'kelly_bush_elevation',
       'final_vertical_depth', 'total_depth', 'water_depth', 'kick_off_point',
       'age_at_td', 'formation_at_td', 'main_area', 'drilling_facility',
       'facility_type_drilling', 'drilling_facility_fixed_or_moveable',
       'licensing_activity', 'multilateral', 'purpose_planned', 'entry_year',
       'completion_year', 'reclass_from_wellbore',
       'reentry_exploration_activity', 'plot_symbol', 'formation_with_hc1',
       'age_with_hc1', 'formation_with_hc2', 'age_with_hc2',
       'formation_with_hc3', 'age_with_hc3', 'drilling_days', 'reentry',
       'licence_target_name', 'plugged_abandon_date', 'plugged_date',
       'geodetic_datum', 'ns_deg', 'ns_min', 'ns_sec', 'ns_code', 'ew_deg',
       'ew_min', 'ew_sec', 'ew_code', 'ns_dec_deg', 'ew_des_deg', 'ns_utm',
       'ew_utm', 'utm_zone', 'name_part1', 'name_part2', 'name_part3',
       'name_part4', 'name_part5', 'name_part6', 'press_release_url',
       'fact_page_url', 'fact_map_url', 'diskos_wellbore_type',
       'diskos_wellbore_parent', 'wdss_qc_date', 'released_date',
       'date_reclass', 'npdid_wellbore', 'dsc_npdid_discovery', 'npdid_field',
       'npdid_facility_drilling', 'npdid_wellbore_reclass',
       'prl_npdid_production_licence', 'npdid_site_survey', 'date_updated',
       'date_updated_max', 'datesync_npd'],
      dtype='object')

### Select columns with regex

Select columns that start with *well* by applying regex pattern.

In [59]:
df_selected = (df.filter(regex="^well"))

In [60]:
df_selected.head()

  wellbore_name   well    well_type
0         1/2-1  1/2-1  EXPLORATION
1         1/2-2  1/2-2  EXPLORATION
2         1/3-1  1/3-1  EXPLORATION
3         1/3-2  1/3-2  EXPLORATION
4         1/3-3  1/3-3  EXPLORATION

### Select columns and query a dataframe

You select columns in dataframe by using .filter function --- a bit non-inuitive since we use
it to selec columns by a columns name, and we filter the columns by a condition by using .query function.

Filter dataframe by the elements from the list that is a part of the query argument - a list of values. 

**REMEMBER SINGLE QUOTES WITHIN DOUBLE QUOTES.**

In [61]:
(df
  .filter(items=["wellbore_name", "well_type"])
  .query("wellbore_name in ['1/2-1', '7324/10-1']")
)

     wellbore_name    well_type
0            1/2-1  EXPLORATION
1916     7324/10-1  EXPLORATION

### Query dataframe by multiple conditions

In [62]:
(df
   .filter(items=["drilling_operator", "purpose", "total_depth"]) 
   .query('drilling_operator in ["A/S Norske Shell", "Statoil Petroleum AS"] & \
           purpose in "WILDCAT" & \
           1000 < total_depth < 2000'))

         drilling_operator  purpose  total_depth
298       A/S Norske Shell  WILDCAT       1971.0
788   Statoil Petroleum AS  WILDCAT       1890.0
1289  Statoil Petroleum AS  WILDCAT       1640.0
1537      A/S Norske Shell  WILDCAT       1920.0
1830  Statoil Petroleum AS  WILDCAT       1033.0
1849  Statoil Petroleum AS  WILDCAT       1594.0
1852  Statoil Petroleum AS  WILDCAT       1780.0
1859  Statoil Petroleum AS  WILDCAT       1855.0
1897  Statoil Petroleum AS  WILDCAT       1500.0
1900  Statoil Petroleum AS  WILDCAT       1540.0
1906  Statoil Petroleum AS  WILDCAT       1090.0
1915  Statoil Petroleum AS  WILDCAT       1100.0
1918  Statoil Petroleum AS  WILDCAT       1210.0
1920  Statoil Petroleum AS  WILDCAT       1540.0

Query dataframe by a predefine list

In [174]:
operators_top_10 = ['Norsk Hydro Produksjon AS',
 'Statoil Petroleum AS',
 'Saga Petroleum ASA',
 'Lundin Norway AS',
 'Esso Exploration and Production Norway A/S',
 'A/S Norske Shell',
 'Elf Petroleum Norge AS',
 'Phillips Petroleum Company Norway',
 'Statoil ASA (old)']

You can refer to variables in the environment by prefixing them with an ‘@’ character like for example 
**@operators_top_10**, i.e.

.query("drilling_operator == **@operators_top_10**")

In [188]:
(df
    .query("drilling_operator == @operators_top_10")
    .filter(items=['drilling_operator', "drilling_days"])
    .head()
)

        drilling_operator  drilling_days
2        A/S Norske Shell            129
3        A/S Norske Shell             75
4  Elf Petroleum Norge AS            216
5  Elf Petroleum Norge AS             83
6        A/S Norske Shell            134

### Rename column names

Before:

In [63]:
(df
   .filter(items=["drilling_operator", "purpose", "total_depth"])
).head()

             drilling_operator  purpose  total_depth
0  Phillips Petroleum Norsk AS  WILDCAT       3574.0
1   Paladin Resources Norge AS  WILDCAT       3434.0
2             A/S Norske Shell  WILDCAT       4877.0
3             A/S Norske Shell  WILDCAT       4297.0
4       Elf Petroleum Norge AS  WILDCAT       4876.0

After:

In [64]:
(df
   .filter(items=["drilling_operator", "purpose", "total_depth"])
   .rename(columns={"purpose":"well_purpose"}) ##  "old_name":"new_name"
)

                     drilling_operator well_purpose  total_depth
0          Phillips Petroleum Norsk AS      WILDCAT       3574.0
1           Paladin Resources Norge AS      WILDCAT       3434.0
2                     A/S Norske Shell      WILDCAT       4877.0
3                     A/S Norske Shell      WILDCAT       4297.0
4               Elf Petroleum Norge AS      WILDCAT       4876.0
...                                ...          ...          ...
1916  Den norske stats oljeselskap a.s      WILDCAT       2919.0
1917              Statoil Petroleum AS      WILDCAT       2865.0
1918              Statoil Petroleum AS      WILDCAT       1210.0
1919                 Equinor Energy AS      WILDCAT       4300.0
1920              Statoil Petroleum AS      WILDCAT       1540.0

[1921 rows x 3 columns]

Rename multiple columns by predefining a dictionary

In [65]:
# d
new_column_names = {
    "drilling_operator" : "DRILLING_COMPANY", 
    "purpose" : "WELL_PURPOSE",
    "total_depth" : "TOTAL_DEPTH_METERS"
}

(df
   .filter(items=["drilling_operator", "purpose", "total_depth"])
   .rename(columns=new_column_names) ##  "old_name":"new_name"
)

                      DRILLING_COMPANY WELL_PURPOSE  TOTAL_DEPTH_METERS
0          Phillips Petroleum Norsk AS      WILDCAT              3574.0
1           Paladin Resources Norge AS      WILDCAT              3434.0
2                     A/S Norske Shell      WILDCAT              4877.0
3                     A/S Norske Shell      WILDCAT              4297.0
4               Elf Petroleum Norge AS      WILDCAT              4876.0
...                                ...          ...                 ...
1916  Den norske stats oljeselskap a.s      WILDCAT              2919.0
1917              Statoil Petroleum AS      WILDCAT              2865.0
1918              Statoil Petroleum AS      WILDCAT              1210.0
1919                 Equinor Energy AS      WILDCAT              4300.0
1920              Statoil Petroleum AS      WILDCAT              1540.0

[1921 rows x 3 columns]

Filter dataframe by the elements from predefined list that is outside of the function's scope.
In this case you need to use @ before the list name.

In [66]:
well_list = ["1/2-1", "7324/10-1"]

(df
  .filter(items=["wellbore_name", "well_type"])
  .query("wellbore_name in @well_list")
)

     wellbore_name    well_type
0            1/2-1  EXPLORATION
1916     7324/10-1  EXPLORATION

### Calculate summary statistic (min, max, mean, count,...) per group

What is the minimum and maximum total_depth grouped by completion_year and sorted by entry_year?

We see that well_bore name was silently dropped since it is a categorical column.

In [67]:
(df
  .filter(items=["wellbore_name", "entry_year", "total_depth"])
  .groupby("entry_year")
  .agg(
    total_depth_min = pd.NamedAgg(column="total_depth", aggfunc="min"),
    total_depth_max = pd.NamedAgg(column="total_depth", aggfunc="max")
    )
  .sort_values("entry_year", ascending = False)
  .reset_index()
  ).head(10)

   entry_year  total_depth_min  total_depth_max
0        2019              0.0           6068.0
1        2018            381.0           6100.0
2        2017            508.0           7811.0
3        2016            488.0           7126.0
4        2015            840.0           5765.0
5        2014           1033.0           4889.0
6        2013            930.0           5634.0
7        2012           1640.0           5573.0
8        2011           1339.0           5672.0
9        2010           1178.0           5738.0

### What is a named function?

In [68]:
def add_ten(x):
    return x + 10

In [69]:
add_ten(10)

20

### What is lambda or anonymus function?

In Python, lambda expressions (or lambda forms) are utilized to construct anonymous functions. To do so, you will use the lambda keyword (just as you use def to define normal functions).

Every anonymous function you define in Python will have 3 essential parts:

The lambda keyword.
The parameters (or bound variables), and
The function body.
A lambda function can have any number of parameters, but the function body can only contain one expression.

Moreover, a lambda is written in a single line of code and can also be invoked immediately. You will see all this in action in the upcoming examples.

The formal syntax to write a lambda function is as given below:

lambda p1, p2: expression

In [70]:
add_ten = lambda x: x + 1

In [71]:
add_ten(10)

11

In [77]:
df.columns

Index(['wellbore_name', 'well', 'drilling_operator', 'production_licence',
       'purpose', 'status', 'content', 'well_type', 'sub_sea', 'entry_date',
       'completion_date', 'field', 'drill_permit', 'discovery',
       'discovery_wellbore', 'bottom_hole_temperature', 'site_survey',
       'seismic_location', 'max_inclation', 'kelly_bush_elevation',
       'final_vertical_depth', 'total_depth', 'water_depth', 'kick_off_point',
       'age_at_td', 'formation_at_td', 'main_area', 'drilling_facility',
       'facility_type_drilling', 'drilling_facility_fixed_or_moveable',
       'licensing_activity', 'multilateral', 'purpose_planned', 'entry_year',
       'completion_year', 'reclass_from_wellbore',
       'reentry_exploration_activity', 'plot_symbol', 'formation_with_hc1',
       'age_with_hc1', 'formation_with_hc2', 'age_with_hc2',
       'formation_with_hc3', 'age_with_hc3', 'drilling_days', 'reentry',
       'licence_target_name', 'plugged_abandon_date', 'plugged_date',
       'geodetic_datum', 'ns_deg', 'ns_min', 'ns_sec', 'ns_code', 'ew_deg',
       'ew_min', 'ew_sec', 'ew_code', 'ns_dec_deg', 'ew_des_deg', 'ns_utm',
       'ew_utm', 'utm_zone', 'name_part1', 'name_part2', 'name_part3',
       'name_part4', 'name_part5', 'name_part6', 'press_release_url',
       'fact_page_url', 'fact_map_url', 'diskos_wellbore_type',
       'diskos_wellbore_parent', 'wdss_qc_date', 'released_date',
       'date_reclass', 'npdid_wellbore', 'dsc_npdid_discovery', 'npdid_field',
       'npdid_facility_drilling', 'npdid_wellbore_reclass',
       'prl_npdid_production_licence', 'npdid_site_survey', 'date_updated',
       'date_updated_max', 'datesync_npd'],
      dtype='object')

In [85]:
df["utm_zone"].value_counts()

31    1423
32     335
34      64
35      50
33      43
36       4
37       2
Name: utm_zone, dtype: int64

### Add a new calculated column

In [103]:
(df
    .filter(items=["wellbore_name", "total_depth", "utm_zone"])
    .assign(depth_flag=lambda x: np.where(x["total_depth"] > 2000, "deep", "shallow"))  
)

     wellbore_name  total_depth  utm_zone depth_flag
0            1/2-1       3574.0        31       deep
1            1/2-2       3434.0        31       deep
2            1/3-1       4877.0        31       deep
3            1/3-2       4297.0        31       deep
4            1/3-3       4876.0        31       deep
...            ...          ...       ...        ...
1916     7324/10-1       2919.0        35       deep
1917      7325/1-1       2865.0        35       deep
1918      7325/4-1       1210.0        35    shallow
1919      7335/3-1       4300.0        37       deep
1920     7435/12-1       1540.0        37    shallow

[1921 rows x 4 columns]

### Add calculated columns that are dependent on each other

In Python 3.6+, you can create multiple columns within the same assign where one of the columns depends on another one defined within the same assign:

In [137]:
(df
    .filter(items=["wellbore_name", "total_depth", "utm_zone", "completion_year"])
    .assign(
        drilling_depth_flag=lambda x: np.where(x["total_depth"] > 2000, "deep", "shallow"),
        depth_age_flag=lambda x: np.where(
            (x["drilling_depth_flag"] == "deep") & (x["completion_year"] <= 2010),   # drilling_depth_flag has been created in previous step 
            "deep_and_old", "deep_and_new")
        )  
)

,wellbore_name,total_depth,utm_zone,completion_year,drilling_depth_flag,depth_age_flag
0,1/2-1,3574.0,31,1989,deep,deep_and_old
1,1/2-2,3434.0,31,2006,deep,deep_and_old
2,1/3-1,4877.0,31,1968,deep,deep_and_old
3,1/3-2,4297.0,31,1969,deep,deep_and_old
4,1/3-3,4876.0,31,1983,deep,deep_and_old
...,...,...,...,...,...,...
1916,7324/10-1,2919.0,35,1989,deep,deep_and_old
1917,7325/1-1,2865.0,35,2014,deep,deep_and_new
1918,7325/4-1,1210.0,35,2017,shallow,deep_and_new
1919,7335/3-1,4300.0,37,2019,deep,deep_and_new
1920,7435/12-1,1540.0,37,2017,shallow,deep_and_new

### Calculated column - define multiple cases with np.select

In [169]:
df_multiple = (df
    .filter(items=["wellbore_name", "total_depth", "water_depth"])
    .assign(
        water_depth_category = lambda x: np.select(
            condlist = [
                x["water_depth"].between(0, 305, inclusive=False),
                x["water_depth"].between(300, 1524, inclusive=True),
                x["water_depth"].between(1000, 2133, inclusive=True),
                x["water_depth"].between(2133, np.max(x["water_depth"]), inclusive=True)
                ],
            choicelist = [ 
                "Shallow Water",
                "Midwater",
                "Deepwater",
                "Ultra-Deepwater"
            ],
            default="Unknown" 
        )
    )
)
df_multiple["water_depth_category"].value_counts()    
#df_multiple.query("water_depth_category == 'Ultra Deep'")

Shallow Water    1371
Midwater          547
Deepwater           2
Unknown             1
Name: water_depth_category, dtype: int64

In [170]:
df_multiple.head()

  wellbore_name  total_depth  water_depth water_depth_category
0         1/2-1       3574.0         72.0        Shallow Water
1         1/2-2       3434.0         74.0        Shallow Water
2         1/3-1       4877.0         71.0        Shallow Water
3         1/3-2       4297.0         73.0        Shallow Water
4         1/3-3       4876.0         68.0        Shallow Water